.modal-toolbar {
  margin-bottom: 16px;
  margin-top: -16px;
}

.type-tag {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
}

.tag-blue {
  color: $tag_color;
  background: $tag_bg;
}

.tag-green {
  color: #00A56E;
  background: rgba(92, 192, 103, 0.15);
}

.tag-orange {
  color: #E87B00;
  background: #FFF3E5;
}

.tag-purple {
  color: #6349E8;
  background: #F1EDFF;
}

.tag-yellow {
  color: #E6A23C;
  background: #FDF6EC;
}

.tag-cyan {
  color: #0DA5A5;
  background: #E7F7F7;
}

.tag-ltGreen {
  color: #67C23A;
  background: #F0F9EB;
}

.tag-gray {
  color: #909399;
  background: rgba(144, 147, 153, 0.1);
}

.token-purple {
  color: #5951e7;
  font-weight: 500;
}

.btn-user {
  color: #366fed;
  border: 1px solid #dcebfe;
  background: #eff6ff;
  padding: 5px 8px;

  &:hover,
  &:focus {
    color: #366fed;
    border: 1px solid #dcebfe;
    background: #eff6ff !important;
  }
}

.btn-app, .btn-model {
  color: #a55fef;
  border: 1px solid #eedfff;
  background: #faf5ff;
  padding: 5px 8px;

  &:hover,
  &:focus {
    color: #a55fef;
    border: 1px solid #eedfff;
    background: #faf5ff !important;
  }
}

.btn-detail {
  color: #5951e7;
  border: 1px solid #d2dafe;
  background: #eef2ff;
  padding: 5px 8px;

  &:hover,
  &:focus {
    color: #5951e7;
    border: 1px solid #d2dafe;
    background: #eef2ff !important;
  }
}

.status-tag {
  font-weight: 500;
  border-radius: 12px;
  border: none !important;
}

::v-deep .status-tag.el-tag--success {
  background-color: #eefbf3 !important;
  color: #16a24a !important;
}

::v-deep .status-tag.el-tag--danger {
  background-color: #fcf0f1 !important;
  color: #dd3637 !important;
}