.modal-toolbar {
  margin-bottom: 16px;
}

.type-tag {
  display: inline-block;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.5;
}

.tag-blue {
  color: $tag_color;
  background: $tag_bg;
}

.tag-green {
  color: #67c23a;
  background: rgba(103, 194, 58, 0.1);
}

.tag-orange {
  color: #e6a23c;
  background: rgba(230, 162, 60, 0.1);
}

.tag-purple {
  color: #a55fef;
  background: rgba(165, 95, 239, 0.1);
}

.tag-gray {
  color: #909399;
  background: rgba(144, 147, 153, 0.1);
}

.token-purple {
  color: #5951e7;
  font-weight: 500;
}

.btn-user {
  color: #366fed;
  border: 1px solid #dcebfe;
  background: #eff6ff;
  padding: 5px 8px;

  &:hover,
  &:focus {
    color: #366fed;
    border: 1px solid #dcebfe;
    background: #eff6ff !important;
  }
}

.btn-app, .btn-model {
  color: #a55fef;
  border: 1px solid #eedfff;
  background: #faf5ff;
  padding: 5px 8px;

  &:hover,
  &:focus {
    color: #a55fef;
    border: 1px solid #eedfff;
    background: #faf5ff !important;
  }
}

.btn-detail {
  color: #5951e7;
  border: 1px solid #d2dafe;
  background: #eef2ff;
  padding: 5px 8px;

  &:hover,
  &:focus {
    color: #5951e7;
    border: 1px solid #d2dafe;
    background: #eef2ff !important;
  }
}